/*==================Nabar.css=====================*/
/* Home.css */

/* Style for navbar links */
.nav-link {
  position: relative;
  color: black; /* Adjust the color as desired */
  text-decoration: none;
  padding: 2px; /* Padding for better spacing */
  transition: color 0.5s ease-in-out; /* Smooth color transition */
}

/* Create an elegant underline effect on hover */
.nav-link:hover::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Offset the underline slightly */
  left: 0;
  width: 100%; /* Full width */
  height: 2px; /* Adjust the height as desired */
  background-color: black; /* Adjust the color as desired */
  opacity: 0.8; /* Make the underline fully visible */
  transform: scaleX(1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1); /* Custom easing for smooth animation */
  border-radius: 20px;

}

/* Initial state for underline (hidden) */
.nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Offset the underline slightly */
  left: 0;
  width: 100%; /* Full width */
  height: 2px;
  background-color: black; /* Adjust the color as desired */
  opacity: 0; /* Hide the underline */
  transform: scaleX(0);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1); /* Same easing function */
  border-radius: 20px;
}

.sidebar {
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.navbar-collapse.show .sidebar {
  transform: translateX(0);
}

.fixed-icons {
  position: relative;
  right: 20px; /* Adjust as needed */
  display: flex;
}

.fixed-icons .icon-link {
  margin-right: 10px; /* Adjust as needed */
  margin-top: 10px;
}
.searchbar{
  border-radius: 10px;
  border: 2px solid black;
}

/* Responsive styles */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .fixed-icons {
    position: fixed;
    top: 10px; /* Adjust as needed */
  }
}
@media (max-width: 768px) {
  .fixed-icons {
    position: fixed;
    right: 20px; /* Adjust as needed */
    top: 10px; /* Adjust as needed */
    display: flex;
  }


}


/*================HomePage Style=====================*/
.title {
  color: #00425e;
  font-size: 70px;
  font-weight: 600;
  line-height: 70px;
  white-space: pre-wrap;
  line-height: 1;
}

.button-title {
  display: flex;
  justify-content: left;
  margin-top: 25px;
}

/* Styles for the "Book now" and "Read More" buttons */
.Book-now,
.Read-More {
  background-color: #213c54;
  color: white;
  border-radius: 50px;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  margin: 0 10px;
}

.Read-More {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid black;
}

p {
  color: #000000;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 10px;
}

.brownback-image {
  position: absolute;
  object-fit: cover; /* Ensure the image covers the entire container */
  z-index: -1; /* Ensure the image is behind the Carousel */
  width: 50%;
}

.x {
  text-align: center;
  margin-top: 100px;
}

.col-border {
  border-right: 5px solid #dddddd93; /* Adjust color and width as needed */
}

.Nom {
  font-weight: 700;
}

.Detaille {
  margin-left: 25%;
  margin-right: 25%;
}

.carousel-indicators .active {
  background-color: #00425F; /* Change to desired color */
  height: 3px;
}


/* populaire liste items style */
.xx {
  background-color: #d9d9d9;
  width: 100%;
  margin-top: 5%;
}

.All {
  margin: auto;
  max-width: 1200px; /* Set maximum width for the container */
}

.I {
  width: 100%; /* Ensure image fills its container */
  height: 100%; /* Set fixed height for the image */
}


h1 {
  text-align: center;
  margin: 60px;
  position: relative;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-size: 25px;
  top:25px;
  bottom: 25px;
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 100%; /* Ensure container fills its parent */
}





/* Additional styles for Name and Price */
.Name {
  text-align: left;
}

.Price {
  text-align: right;
}

/* Additional styles for spacing */
.space {
  margin-top: 20px;
}




/* Footer Parte */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  background-color: #ffffff;
  padding: 40px 20px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
  margin-right: 20px;
  
}

.footer-heading {
  font-size: 1.2rem;
  font-weight: bold;
}
.email > p{
  font-size: 15px;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-item {
  margin: 0 10px;
}

.hutte-io {
  font-style: italic;
}

.subscribe-form {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.subscribe-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: auto;
  height: auto;
}

.subscribe-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.subscribe-info {
  margin-top: 10px;
  color: #756f6f88;
}

.footer-divider {
  height: 2px;
  background-color: #ccc;
  margin: 20px 0;
}

.footer-terms {
  display: flex;
  justify-content: center;
}
.footer-liste-terms{
  display: flex;
  list-style-type: none;
  padding: 0;
}

.footer-social {
  display: flex;
  margin-right: 20px;
}

.social-icon {
  width: 30px;
  margin: 0 10px;
}



/* Media queries */
@media (min-width: 1024px) {
  .all {
    margin-top: 8%;
  }

  .title {
    color: #00425e;
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
    white-space: pre-wrap;
    line-height: 1;
  }

  p {
    width: 55%;
  }
  .email{
    background-color: #1f3b860d;
    max-height: 345px;
    max-width: 482px;
    width: 100%;
    height: 100%;
    padding: 50px;
  } 
  .footer-social {
    justify-content: right;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .title {
    line-height: 90px;
  }
  .all {
    margin-top: 25px;
  }
  .footer-social {
    
    justify-content: center;
  
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .all {
    margin-top: 25px;
  }

  .title {
    text-align: center;
    font-size: 30px;
  }
  
  p {
    text-align: center;
  }

  /*button style*/
  .button-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .Book-now,
  .Read-More {
    padding: 10px 25px;
    font-size: 10px;
    font-weight: 600;
    margin:0 5px;
    width: auto;
  }
  /*image brown style */
  .brownback-image{
    display: none;
  }
  /*x display */
  .x{
    margin-top: 0;
  }
  .phone-image{
    width: 25px;
    height: 25px;
  }

  .Nom {
    font-size: 10px;
  }

  .Detaille {
    display: none;
  }
  .footer-social {
    justify-content: center;
  }

}



/*======================product.css========================*/

/* Style for the detaille class */
.detaille {
  width: 100%; /* Full width */
  text-align: left; /* Align text to the left */
  margin-left: 5px; /* Adds a left margin for better spacing */
  font-size: 18px;
}
/*style of the table*/
table, th, td {
  border: 1px solid black;
  border-collapse: collapse; 
}
th, td{padding:  10px !important;}

/* Style for the container that holds the image and description */
.Image-product {
  background-color: #F6F6F4; /* Light background color */
  display: flex; /* Use flexbox */
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
}

/* Style for the product photo */
.product-photo {
  width: 60%; /* Occupies 70% of the column width */
  height: auto; /* Maintains the aspect ratio */
  object-fit: contain; /* Ensures the image is contained within the bounds */
}

/* Custom styling for the row containing the product title and heart icon */
.myCustomButton {
  background-color: #b8b8b8; /* Change the background color */
  color: rgb(0, 0, 0); /* Change the text color */
  padding: 10px 20px; /* Add padding */
  border: none; /* Remove the border */
  border-radius: 50px; /* Add border radius */
  cursor: pointer; /* Change cursor style */
  font-size: 16px; /* Change font size */
  display: flex; /* Use flexbox layout */
  justify-content: flex-end; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin: 0 auto; /* Center the button in its container */
}

.myCustomButton:hover {
  background-color: #ffffff;
  border: 2px solid black;
  color: black;
}

.buyButton {
  background-color: #00425F;
  color: #ffffff; /* Text color */
  padding: 10px 20px; /* Padding */
  border-radius: 50px; /* Border radius */
  cursor: pointer; /* Cursor style */
  font-size: 16px; /* Font size (consistent with .myCustomButton) */
  display: flex; /* Flexbox layout */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin: 5px auto; /* Center the button in its container */
  width: 100%;
}

.buyButton:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Little shadow effect on hover */
  color: #000000;
  border:2px solid #00425F; /* Background color */
  background-color: white;
  }

/*underline */
.underline {
  border-bottom: 2px solid black; /* Customize line thickness and color */
  display: inline-block; /* Make sure the element is treated as inline */
  position: relative;
  padding-bottom: 2px; /* Add padding to create space between text and line */
  bottom: -16px;
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .Stock-Position {
      width: 100%; /* Full width on smaller screens */
      padding: 1rem; /* Reduce padding on smaller screens */
  }
  
  .stock-item {
      font-size: 0.9rem; /* Slightly smaller font size */
  }
}

@media (max-width: 480px) {
  .Stock-Position {
      padding: 0.5rem; /* Further reduce padding on very small screens */
  }
  
  .stock-item {
      font-size: 0.8rem; /* Even smaller font size */
  }
}


/* Responsive media queries */
@media (min-width: 1024px) {
  /* Add styles for screens wider than 1024px */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Add styles for tablet screens */
}

@media (max-width: 768px) {
  /* Add styles for mobile screens */
  .detaille {
      text-align: left; /* Align text to the left */
      margin-left: 5px; /* Adjust margin for better layout */
  }
}


/*======================= comment Sections=============================*/
.Stars {
  /* Set the width and height of the rectangle */
  width: 250px;
  height: 250px;
  
  /* Center the rectangle on the page */
  position: absolute;
  top: -200%; 
  left: 50%;
  transform: translate(-50%, -50%);
  
  /* Set the background color */
  background-color: white;
  
  /* Set the z-index */
  z-index: 999;
  
  /* Center the content inside the rectangle */
  display: flex;
  align-items: center;
  justify-content: center;
}



/*==================== About.css===============================*/
.containerAbout {
  padding: 20px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
}
